@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

:root {
  --lightest: #d5c6e0ff;
  --med-light: #aaa1c8ff;
  --mid-dark: #967aa1ff;
  --darkest: #192a51ff;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
}

#root div {
  height: 100%;
  width: auto;
}

html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--lightest); /* Set background color */
}

main {
  background-color: var(--med-light); /* Set background color */
}

footer {
  margin-top: auto;
  background-color: var(--darkest); /* Update background color */
}

footer * {
  background-color: var(
    --darkest
  ); /* Ensure all elements in the footer have the same background color */
}

footer ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

footer li {
  margin: 0 10px;
  list-style: none;
}

footer a {
  color: var(--lightest);
  text-decoration: none;
  font-family: "ABeeZee", serif;
  font-size: 1.5em;
}

footer a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Syncopate", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  color: var(--darkest);
}

h3 {
  font-family: "ABeeZee", serif;
}

nav {
  background-color: var(--darkest);
  font-family: "ABeeZee", serif;
  font-size: 2em;
}

nav a {
  color: var(--lightest);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 16px;
  background-color: var(--mid-dark);
}

.projects-grid > * {
  flex: 1 1 calc(33.333% - 50px);
  box-sizing: border-box;
}

.projects-grid .card .content p {
  line-height: 1.2;
}

.projects-grid .card a {
  margin-right: 15px; /* Increase margin to create more space between links */
  font-family: "ABeeZee", serif; /* Use the same font as the navbar */
  color: var(--darkest); /* Set the color to --darkest */
  text-decoration: none; /* Remove underline */
  font-size: 1em; /* Update font size */
}

.flex-basis {
}

.contact-form {
  display:flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  /* Remove the max-width constraint */
  /* max-width: 600px; */
  margin: 0 auto;
  padding: 16px;
  background-color: var(--mid-dark);
  border-radius: 8px;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 16px;
  color: var(--ultra-violet);
}

.contact-form div {
  margin-bottom: 16px;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  color: var(--med);
}

.contact-form input,
.contact-form textarea {
  width: 30%; /* Update width to 30% */
  padding: 8px;
  border: 1px solid var(--med-light);
  border-radius: 4px;
}

.contact-form .error {
  color: red;
  font-size: 0.875em;
  margin-top: 4px;
}

.contact-form button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: var(--lightest);
  color: var(--darkest);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: var(--med-light);
}

.hero-container {
  display: flex;
  align-items: center;
  background-color: var(--med-light); /* Set background color */
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
  padding: 20px 0 0 20px; /* Add padding to the top and left */
}

.social-links {
  display: none; /* Hide the social links */
}

social-links a {
  color: var(--darkest);
  text-decoration: none;
}

social-links a:hover {
  text-decoration: none;
}

img[src*="assets/projects"] {
  width: 200px;
  height: 200px;
  border: 5px solid #192a51ff;
  object-fit: cover; /* Ensure the image covers the area without distortion */
}
